@model EditFormModel
<script src="https://unpkg.com/knockout@3.5.1/build/output/knockout-latest.js"></script>
<script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>
<script src="https://unpkg.com/survey-knockout-ui/survey-knockout-ui.min.js"></script>
<script src="https://unpkg.com/survey-creator-core/survey-creator-core.min.js"></script>
<script src="https://unpkg.com/survey-creator-core/survey-creator-core.i18n.min.js"></script>
<script src="https://unpkg.com/survey-creator-knockout/survey-creator-knockout.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/survey-core/defaultV2.min.css" />
<link rel="stylesheet" href="https://unpkg.com/survey-creator-core/survey-creator-core.css" />
<script src="~/js/form_api.js" asp-append-version="true"></script>
<script src="~/js/creatorjs.js" asp-append-version="true"></script>
@{
    ViewData["Title"] = "Edit Form: " + Model.FormName;
}
<div id="surveyCreatorContainer" style="height: 100vh;"></div>
<script>
    const creator = new SurveyCreator.SurveyCreator(getCreatorOptions(false));
    setupCreator(creator, "@Model.FormName", "@Model.IsAdmin" === "True");
    creator.render("surveyCreatorContainer");
</script>