@model FormResponseModel
<script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>
<script src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/survey-core/survey-core.min.css" />
<script src="~/js/form_api.js" asp-append-version="true"></script>
<script src="~/js/surveyjs.js" asp-append-version="true"></script>
@{
    ViewData["Title"] = "Fill Out a Form: " + Model.FormName;
}
<div id="surveyElement" style="display: inline-block; width: 100%;">
</div>
<script>
    loadFormAndData("@Model.FormName", "@Model.Id", showForm);
    const survey = new Survey.SurveyModel();
    survey.beginLoading();
    function showForm(json, data) {
        survey.fromJSON(json);
        setupSurveyModel(survey, "@Model.FormName");
        survey.data = data;
        survey.render(document.getElementById("surveyElement"));
    }
</script>